@model IEnumerable<ProjetoMVC.Models.Pessoa>

@{
    ViewData["Title"] = "Lista de Pessoas";
}

<h2>Pessoas</h2>
<p>
    <a asp-action="Criar">Cadastrar Pessoa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.RG)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.DataNascimento)
                </td>
                <td>
                    <a asp-action="Editar" asp-asp-route="item.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-asp-route="item.Id">Detalhes</a> |
                    <a asp-action="Deletar" asp-asp-route="item.Id">Deletar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>